<popup name="button3">
<menuitem name="ItemStart" 
          verb="Start" 
          label="Start" 
          pixtype="stock" 
          pixname="gtk-start"/>
<menuitem name="ItemShutdown" 
          verb="Shutdown" 
          label="Shutdown" 
          pixtype="stock" 
          pixname="gtk-shutdown"/>
<separator/>
<menuitem name="ItemRefresh" 
          verb="Refresh" 
          label="Refresh" 
          pixtype="stock" 
          pixname="gtk-refresh"/>
<menuitem name="ItemConfiguration" 
          verb="Configuration" 
          label="Configuration" 
          pixtype="stock" 
          pixname="gtk-configuration"/>
</popup>

